* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-image: url('images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  padding: 2em 0;

  font-family: 'Protest Riot', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.input-area {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  position: relative;
  gap: 4px;

  margin-bottom: 6px;
}

#task-input {
  border: 1px solid lightgray;
  border-radius: 5px;

  box-shadow: 0 2px 2px 0 lightgray;

  margin-top: 10px;
  padding-left: 17px;

  padding: 0 1em;

  width: 86%;

  cursor: pointer;
}

#task-input:focus {
  outline: none;
  border: none;
  shadow: none;
  border-bottom: 2px solid rgb(190, 177, 231);
  transition: 0.5s;
  padding-top: 35px;
}

#task-input + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: #8f8f8f;
  font-size: 0.88em;
  top: 13px;
  left: 17px;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

#task-input:focus + label > span {
  top: 10px;
  color: #333;
}

.container {
  background-color: white;

  max-width: 800px;
  border-top: 10px solid rgb(190, 177, 231);
  border-bottom: 10px solid rgb(190, 177, 231);
  height: 100%;
  min-height: 90vh;

  padding: 3em;

  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.task-area {
  border: 1px solid lightgray;

  border-radius: 5px;

  box-shadow: 0 5px 5px 0 lightgray;
}

.task-tabs {
  display: flex;
  border-bottom: 1px solid lightgray;
  position: relative;
  cursor: pointer;
}

.task-tabs div {
  padding: 1em;
}

.tab:hover {
  color: rgb(190, 177, 231);
}

#under-line {
  height: 4px;
  background-color: rgb(190, 177, 231);
  position: absolute;
  width: 49px;
  left: 0px;
  top: 52px;
  padding: 0px;
  transition: 0.4s;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.task-complete {
  background-color: lightgray;
}

.task-done {
  text-decoration: line-through;
}

.tab-button {
  border: none;
  background-color: transparent;
}

.tab-button:first-child {
  margin-right: 20px;
}

#add-button {
  width: 13%;
  font-size: 0.88rem;
  font-weight: 300;
  border-radius: 5px;
  border: 1px solid rgb(190, 177, 231);
  background-color: #fff;
}

#add-button:hover {
  border: 1px solid rgb(190, 177, 231);
  background-color: rgb(190, 177, 231);
  color: #fff;
}

@media (max-width: 800px) {
  .input-area {
    flex-direction: column;
    gap: 0.5px;
  }

  #task-input {
    width: 100%;
  }

  #add-button {
    width: 100%;
    font-size: 0.88rem;
    font-weight: 300;
    border-radius: 5px;
    border: 1px solid rgb(190, 177, 231);
    background-color: #fff;

    margin-top: 6px;
  }

  #add-button:hover {
    border: 1px solid rgb(190, 177, 231);
    background-color: rgb(190, 177, 231);
    color: #fff;
  }
}

.fa-circle-plus {
  color: lightgray;
  margin-left: 2px;
}

.fa-circle-plus:hover {
  font-size: 1.5em;
  transition: 0.2s ease-out;
}

.fa-circle-plus:not(:hover) {
  transition: 0.3s ease-out;
}

.fa-check {
  color: rgb(142, 211, 40);
}

.fa-check:hover {
  font-size: 1.3em;
  transition: 0.2s ease-out;
}

.fa-check:not(:hover) {
  transition: 0.3s ease-out;
}

.fa-rotate-right {
  color: gray;
}

.fa-rotate-right:hover {
  font-size: 1.2em;
  transition: 0.5s ease-out;
}
.fa-rotate-right:not(:hover) {
  transition: 0.3s ease-out;
}

.fa-trash {
  color: red;
}

.fa-trash:hover {
  font-size: 1.2em;
  transition: 0.2s ease-out;
}

.fa-trash:not(:hover) {
  transition: 0.3s ease-out;
}

.task-tabs div {
  cursor: pointer;
}
