body {
  margin: 0;
  background-image: url('images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.input-area {
  display: flex;
  align-items: center;
}

.container {
  background-color: white;
  min-height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.task-area {
  border: 1px solid lightgray;
}

.task-tabs {
  display: flex;
  border-bottom: 1px solid lightgray;
  position: relative;
}

.task-tabs div {
  padding: 1em;
}

#under-line {
  height: 4px;
  background-color: skyblue;
  position: absolute;
  width: 80px;
  left: 0px;
  top: 52px;
  padding: 0px;
  transition: 0.5s;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.task-complete {
  background-color: lightgray;
}

.task-done {
  text-decoration: line-through;
}

button {
  border: none;
  background-color: transparent;
}

.fa-circle-plus {
  color: lightgray;
  margin-left: 2px;
}

.fa-circle-plus:hover {
  font-size: 1.5em;
  transition: 0.2s ease-out;
}

.fa-circle-plus:not(:hover) {
  transition: 0.3s ease-out;
}

.fa-check {
  color: rgb(142, 211, 40);
}

.fa-check:hover {
  font-size: 1.3em;
  transition: 0.2s ease-out;
}

.fa-check:not(:hover) {
  transition: 0.3s ease-out;
}

.fa-rotate-right {
  color: gray;
}

.fa-rotate-right:hover {
  font-size: 1.2em;
  transition: 0.5s ease-out;
}
.fa-rotate-right:not(:hover) {
  transition: 0.3s ease-out;
}

.fa-trash {
  color: red;
}

.fa-trash:hover {
  font-size: 1.2em;
  transition: 0.2s ease-out;
}

.fa-trash:not(:hover) {
  transition: 0.3s ease-out;
}

.task-tabs div {
  cursor: pointer;
}
